body{
    margin:0;
    padding: 0;
}
.navBar{
    display: flex;
}
.rightSectNav{
    position: absolute;
    right: 20px;
}
.icon-margin{
    font-size: 25px !important;
}
.icon-login-center{
    position: relative;
    top: 3px;
}
.J{
    background-color: black;
    color: white;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 12px 2px 12px;
}
.get-started-btn:hover{
    background-color: white;
    color: black;
}
.fs-big{
    font-size: 55px !important;
}
.align-center{
    align-items: center;
}
.secondPart{
    padding: 150px 0px 150px 0px;
    background-color: rgba(62, 218.475, 243, 1)
}
.thirdPart{
    padding: 50px;
} 
.thirdPart p{
    line-height: 15px;
}