body{
    margin:0;
    padding: 0;
}
.navBar{
    display: flex;
}
.rightSectNav{
    position: absolute;
    right: 20px;
}
.icon-margin{
    font-size: 25px !important;
}
.icon-login-center{
    position: relative;
    top: 3px;
}
.J{
    background-color: black;
    color: white;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 12px 2px 12px;
}
.get-started-btn:hover{
    background-color: white;
    color: black;
}
.fs-big{
    font-size: 55px !important;
}
.align-center{
    align-items: center;
}
.secondPart{
    padding: 150px 0px 150px 0px;
    background-color: rgba(62, 218.475, 243, 1)
}
.thirdPart{
    padding: 50px;
} 
.whatWeOfferP{
    line-height: 15px;
}
.cardsParent{
    margin-top: 100px;
}
.card{
    border: 0 !important;
}
.fifthPart{
    padding-left: 100px;
    background-color: #a2d9ff;
}
.iconscontainer{
    margin-top: 100px;
}
.iconName{
    position: relative;
    right: 15px;
}
.seventhPart{
    background-color: rgb(240, 240, 240);
    padding: 50px;
}
.cardCont {
  width: 190px;
  border-radius: 6px;
  background-color: rgb(231, 175, 184);
}
.cardImage:hover {
  transform: scale(0.98);
}
.category:hover {
  cursor: pointer;
}
.heading:hover {
  cursor: pointer;
}



@media only screen and (max-width:1000px){
    .rightSectonPhoto{
        display: none;
    }
}
@media only screen and (max-width:1020px){
    .navBar{
        display: grid;
        justify-content: center;

    }
    .rightSectNav{
        position: inherit;
    }
}